$color1: #202225;
$color2: #2f3136;
$color3: #36393f;
$color4: #7289da;
$color5: #43b17f;
$color6: #4f545c;
$color7: #b1b2b4;
$color8: #34373c;
$color9: #292b2f;
$color10: #40444b;
$color11: #247524;
$color12: #ee2225;
$color13: #2ec66b;